[submodule "ui_randomizer"]
	path = ui_randomizer
	url = ../ui_randomizer.git
[submodule "lvgl_ui_generator"]
	path = lvgl_ui_generator
	url = ../lvgl_ui_generator.git
[submodule "notebook/baseline"]
	path = yolov3_baseline_project
	url = ../Object-Detection-for-Graphical-User-Interface.git
[submodule "paper"]
	path = paper
	url = ../ui-detector-paper
[submodule "lvgl_ui_generator_v2"]
	path = lvgl_ui_generator_v2
	url = ../lvgl_ui_generator_v2.git
[submodule "ui-detector"]
	path = ui-detector
	url = git@github.com:HackXIt/ui-detector.git
