[submodule "ui_randomizer"]
	path = ui_randomizer
	url = git@github.com:HackXIt/ui_randomizer.git
[submodule "lvgl_ui_generator"]
	path = lvgl_ui_generator
	url = git@github.com:HackXIt/lvgl_ui_generator.git
[submodule "notebook/baseline"]
	path = yolov3_baseline_project
	url = git@github.com:HackXIt/Object-Detection-for-Graphical-User-Interface.git
[submodule "paper"]
	path = paper
	url = ../ui-detector-paper
